@model IEnumerable<lab_04.Models.Course>
@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mine</h2>

<ul class="course">
    @foreach (var course in Model)
    {
        <li style="margin-left: 210px;">
            <div class="date">
                <div class="month">
                    @course.DateTime.ToString("MM")
                </div>
                <div class="day">
                    @course.DateTime.ToString("dd")
                </div>
            </div>
            <div class="details">
                <span class="lecturer">
                    @course.Lecturer.Name
                </span><br />
                <span class="category">
                    @course.Category.Name
                </span>
            </div>
            <div class="action">
                <a href="@Url.Action("Edit","Courses", new { id = course.Id })">Edit</a>
                <a href="#" class="js-cancel-course" data-course-id="@course.Id">Cancel</a>
            </div>
        </li>
    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-cancel-course").click(function (e) {
                e.preventDefault();
                var link = $(e.target);
                bootbox.confirm("Are you sure to cancel?",
                    function () {
                        $.ajax({
                            url: "/api/courses/" + link.attr("data-course-id"),
                            method: "DELETE"
                        })
                            .done(function () {
                                link.parents("li").fadeOut(function () {
                                    $(this).remove();
                                });
                            })
                            .fail(function () {
                                alert("Something failed!");
                            });
                    });
            });
        });
    </script>
}